.navbar .navbar-logo {
  position: absolute;
  top: 0;
}
.navbar .navbar-nav .nav-item .nav-link {
  color: #6c6c6c;
  padding: 0.5rem 1.5rem;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #3f3f3f;
}
.navbar .navbar-nav .nav-item.active .nav-link {
  color: #3f3f3f;
}

.image-top {
  height: 416px;
  background-image: url(/images/nasa-space-hd.jpg?d5e79eb89f4e4aa5f4e5f19a442f2ca4);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
